<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'ot/base.css' %}">
    </head>
 <body>
    <header style="display: flex; justify-content: space-between; padding: 10px; background-color: #f8f9fa; align-items: center;">
        <nav>
            <ul style="list-style: none; display: flex; gap: 20px; margin: 0; padding: 0;">
                <li><a href="{% url 'dashboard' %}">Inicio</a></li>
            </ul>
        </nav>
        <div>
            <img src="{% static 'images/logo.png' %}" alt="Logo" style="height: 50px">
        </div>
    </header>

    <main>
        {% block content %}


        {% endblock %}
    </main>


    <footer style="background-color: #f8f9fa; padding: 10px; text-align: center;">
        <p>&copy; 2024 - Todos los derechos reservados</p>
    </footer> 
 </body>


   
</html>
