
{% extends 'base.html' %}
        
        {% block content %}
        <h2>Lista de OT</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Dirección</th>
                    <th>Comuna</th>
                    <th>Tiempo Estimado</th>
                    <th>CECO</th>
                    <th>Jefe de Proyecto</th>
                    <th>Supervisor</th>
                    <th>Planificación Material</th>
                    <th>Observación</th>
                </tr>
            </thead>
            <tbody>
                {% for ot in ot_list %}
                <tr>
                <td>{{ ot.id }}</td>
                <td>{{ ot.cliente.nombre }}</td>
                <td>{{ ot.direccion }}</td>
                <td>{{ ot.comuna }}</td>
                <td>{{ ot.tiempo_estimado }}</td>
                <td>{{ ot.CECO }}</td>
                <td>{{ ot.jefe_proyecto }}</td>
                <td>{{ ot.supervisor }}</td>
                <td>{{ ot.planificacion_material }}</td>
                <td>{{ ot.observacion }}</td>
                </tr>
                {% empty %}
                <tr>
                <td colspan="10">No hay OT disponibles.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
